.consultation__user-name,
.consultation__user-phone-number {
  position: relative;

    input {
      background-color: $color-default-white;
      border: 1px solid rgba(2, 102, 193, 0.10);
      color: $color-primary;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      padding: 23px 30px;
      width: 340px;
      transition: border 0.3s ease;

      &:hover {
        border: 1px solid $color-default-white;
      }

      &:focus-visible,
      &:active {
        border: none;
        outline: 1px solid $color-default-white;
      }

      &:disabled {
        opacity: 0.4;
      }

      @include vp-1199 {
        width: 100%;
        padding: 16px 15px;
      }
    }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: $color-error;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid $color-error;

      &:focus,
      &:hover {
        border: 1px solid rgba($color-error, 0.5);
        outline: none;
      }
    }
  }

  &.is-valid {
    input {
      border: 1px solid #22b259;

      &:focus,
      &:hover {
        border: 1px solid rgba(#22b259, 0.5);
        outline: none;
      }
    }
  }

  .input-message {
    position: absolute;
    left: 0;
    bottom: -40px;

    &.is-invalid {
      color: $color-error;
    }

    &.is-valid {
      color: #15ab07;
    }

    @include vp-1199 {
      display: none;
    }
  }
}

.consultation__user-name input:focus-visible::placeholder,
.consultation__user-name input:active::placeholder {
  color: transparent;
}
