.hero__content-container {
  position: relative;
  padding: 182px 120px 78px 120px;
  max-width: $max-width;
  margin: 0 auto;

  @include vp-1199 {
    text-align: center;
    padding: 174px 45px 0 45px;
  }

  @include vp-767 {
    text-align: center;
    padding: 139px 15px 0 15px;
  }
}

.hero__content-container p {
  margin: 0;
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  color: $color-default-white;
  max-width: 930px;
  margin-bottom: 25px;
  position: relative;
  z-index: 100;

  @include vp-1199 {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 12px;
    max-width: none;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}

.hero__content-container span {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: $color-default-white;
  display: block;
  max-width: 500px;
  margin-bottom: 35px;

  @include vp-1199 {
    max-width: none;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 28px;
    padding: 0 105px;
  }

  @include vp-767 {
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    margin-bottom: 20px;
  }
}

.hero__content-container a {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: $color-default-white;
  background-color: $color-secondary;
  display: block;
  width: 220px;
  padding: 21px 0;
  margin: 0;
  margin-bottom: 150px;
  text-align: center;
  outline: 1px solid transparent;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    outline: 1px solid $color-hover;
    color: $color-hover;
    background-color: transparent;
    transition: 0.3s;
  }

  &:active {
    background-color: $color-hover;
    color: $color-default-white;
    transition: 0.3s;
  }

  &:disabled {
    opacity: 0.1;
  }

  @include vp-1199 {
    width: 206px;
    margin: 0 auto;
  }

  @include vp-767 {
    margin-bottom: 152px;
    width: 180px;
    padding: 18px 0;
  }
}

.hero__additional-info-container {
  display: flex;
  gap: 10px;
}

.hero__additional-info {
  display: flex;
  gap: 8px;
  padding: 14px 20px;
  border: 1px solid $color-default-white;

  @include vp-1199 {
    display: none;
  }
}

.hero__additional-info span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.hero__video-container {
  position: absolute;
  top: 18.8rem;
  right: 7.5em;
  width: 482px;
  height: 317px;

  @include vp-1199 {
    position: relative;
    top: 0;
    right: 0;
    width: 442px;
    height: 300px;
    margin: 50px auto 218px auto;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__photo-container {
  position: absolute;
  top: 12.8rem;
  right: 7.5em;

  @include vp-1199 {
    position: relative;
    top: 0;
    right: 0;
    margin: 34px auto 169px auto;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__photo {
  @include vp-1199 {
    margin: 0 auto;
  }
}

.hero__audio-container {
  position: absolute;
  top: 18.8rem;
  right: 7.5em;

  @include vp-1199 {
    position: relative;
    top: 0;
    right: 0;
    margin: 69px auto 275px auto;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__video {
  object-fit: cover;
  width: 482px;
  height: 317px;

  @include vp-1199 {
    width: 442px;
    height: 300px;
  }
}

.hero__button {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid $color-default-white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: transparent;
    border-color: $color-hover;
    outline: none;
  }

  &:active {
    background-color: $color-hover;
  }

  &:disabled {
    opacity: 0.2;
  }
}

.hero__button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $color-default-white;
  stroke-width: 1px;
  stroke: transparent;
}

.hero__button:hover .hero__button-icon,
.hero__button:focus-visible .hero__button-icon {
  stroke-width: 1px;
  stroke: $color-primary;
}

.hero__button:active .hero__button-icon {
  stroke: none;
}

.hero__first-slide {
  background-image:
    linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0) 100%),
    image-set(url("../img/hero/hero-first/hero-first-desktop.webp") type("image/webp") 1dppx,
      url("../img/hero/hero-first/hero-first-desktop@2x.webp") type("image/webp") 2dppx,
      url("../img/hero/hero-first/hero-first-desktop.png") 1dppx,
      url("../img/hero/hero-first/hero-first-desktop@2x.png") 2dppx,
    );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #668bb2;

  @include vp-1199 {
    background-image:
      linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0) 100%),
      image-set(url("../img/hero/hero-first/hero-first-tablet.webp") type("image/webp") 1dppx,
        url("../img/hero/hero-first/hero-first-tablet@2x.webp") type("image/webp") 2dppx,
        url("../img/hero/hero-first/hero-first-tablet.png") 1dppx,
        url("../img/hero/hero-first/hero-first-tablet@2x.png") 2dppx,
      );
  }

  @include vp-767 {
    background-image:
      linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0) 100%),
      image-set(url("../img/hero/hero-first/hero-first-mobile.webp") type("image/webp") 1dppx,
        url("../img/hero/hero-first/hero-first-mobile@2x.webp") type("image/webp") 2dppx,
        url("../img/hero/hero-first/hero-first-mobile.png") 1dppx,
        url("../img/hero/hero-first/hero-first-mobile@2x.png") 2dppx,
      );
  }
}

.hero__second-slide {
  background-image:
    linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0) 100%),
    image-set(url("../img/hero/hero-second/hero-second-desktop.webp") type("image/webp") 1dppx,
      url("../img/hero/hero-second/hero-second-desktop@2x.webp") type("image/webp") 2dppx,
      url("../img/hero/hero-second/hero-second-desktop.png") 1dppx,
      url("../img/hero/hero-second/hero-second-desktop@2x.png") 2dppx,
    );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #4d7da4;

  @include vp-1199 {
    background-image:
      linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0) 100%),
      image-set(url("../img/hero/hero-second/hero-second-tablet.webp") type("image/webp") 1dppx,
        url("../img/hero/hero-second/hero-second-tablet@2x.webp") type("image/webp") 2dppx,
        url("../img/hero/hero-second/hero-second-tablet.png") 1dppx,
        url("../img/hero/hero-second/hero-second-tablet@2x.png") 2dppx,
      );
  }

  @include vp-767 {
    background-image:
      linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0) 100%),
      image-set(url("../img/hero/hero-second/hero-second-mobile.webp") type("image/webp") 1dppx,
        url("../img/hero/hero-second/hero-second-mobile@2x.webp") type("image/webp") 2dppx,
        url("../img/hero/hero-second/hero-second-mobile.png") 1dppx,
        url("../img/hero/hero-second/hero-second-mobile@2x.png") 2dppx,
      );
  }
}

.hero__third-slide {
  background-image:
    linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0) 100%),
    image-set(url("../img/hero/hero-third/hero-third-desktop.webp") type("image/webp") 1dppx,
      url("../img/hero/hero-third/hero-third-desktop@2x.webp") type("image/webp") 2dppx,
      url("../img/hero/hero-third/hero-third-desktop.png") 1dppx,
      url("../img/hero/hero-third/hero-third-desktop@2x.png") 2dppx,
    );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #9eb0bc;

  @include vp-1199 {
    background-image:
      linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0) 100%),
      image-set(url("../img/hero/hero-third/hero-third-tablet.webp") type("image/webp") 1dppx,
        url("../img/hero/hero-third/hero-third-tablet@2x.webp") type("image/webp") 2dppx,
        url("../img/hero/hero-third/hero-third-tablet.png") 1dppx,
        url("../img/hero/hero-third/hero-third-tablet@2x.png") 2dppx,
      );
  }

  @include vp-767 {
    background-image:
      linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0) 100%),
      image-set(url("../img/hero/hero-third/hero-third-mobile.webp") type("image/webp") 1dppx,
        url("../img/hero/hero-third/hero-third-mobile@2x.webp") type("image/webp") 2dppx,
        url("../img/hero/hero-third/hero-third-mobile.png") 1dppx,
        url("../img/hero/hero-third/hero-third-mobile@2x.png") 2dppx,
      );
  }
}

.hero__pagination-container {
  max-width: $max-width;
  position: relative;
  margin: 0 auto;
}
