.tours__container .swiper {
  @include vp-1199 {
    padding: 0 6px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.tours__container {
  padding: 123px 120px 126px 120px;
  margin: 0 auto;
  position: relative;
  max-width: $max-width;

  @include vp-1199 {
    padding: 88px 45px 85px 45px;
  }

  @include vp-767 {
    padding: 67px 15px 66px 15px;
  }
}

.tours__container h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin: 0;
  margin-bottom: 54px;
  position: relative;
  color: $color-primary;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 43px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    padding-right: 74px;
    margin-bottom: 27px;
  }
}

[data-tours-secondary-title]::after {
  content: attr(data-tours-secondary-title);
  position: absolute;
  left: 0;
  bottom: 0;
  color: rgba(45, 56, 63, 0.03);
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;

  @include vp-1199 {
    font-size: 40px;
    line-height: 40px;
  }

  @include vp-767 {
    top: 0;
    font-size: 26px;
    line-height: 26px;
  }
}

.tours__container a {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 52px;

  &:hover,
  &:focus-visible {
    color: $color-hover;
    transition: 0.3s;
    outline: none;
  }

  &:active {
    color: $color-secondary;
    transition: 0.3s;
  }

  &:disabled {
    opacity: 0.1;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
    margin-top: 29px;
  }
}

.tours__view-all-icon {
  margin-left: 12px;
  stroke: $color-primary;

  @include vp-767 {
    margin-left: 10px;
  }
}

.tours__container a:hover .tours__view-all-icon,
.tours__container a:focus-visible .tours__view-all-icon {
  stroke: $color-hover;
  transition: 0.3s;
}

.tours__container a:active .tours__view-all-icon {
  stroke: $color-secondary;
  transition: 0.3s;
}

.tours__content-container {
  padding: 206px 24px 22px 20px;

  @include vp-767 {
    padding: 196px 20px 19px 20px;
  }
}

.tours__content-container p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: $color-default-white;
  margin: 0 70px 17px 0;
  padding-bottom: 17px;
  position: relative;

  @include vp-1199 {
    margin-right: 30px;
  }

  @include vp-767 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 9px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 1px;
    background-color: $color-default-white;
    opacity: 0.2;
  }
}

.tours__location-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  flex-wrap: wrap;

  @include vp-767 {
    justify-content: flex-start;
    gap: 16px 24px;
    margin-bottom: 14px;
  }
}

.tours__location {
  display: flex;
  justify-content: center;
  width: 108px;
  padding: 9px 15px;
  background-color: $color-secondary;

  @include vp-1199 {
    width: auto;
    padding: 9px 23px 9px 15px;
  }

  @include vp-767 {
    order: 1;
  }
}

.tours__location-icon {
  min-width: 9px;
}

.tours__location span {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: $color-default-white;
  margin-left: 6px;
  word-break: break-all;
}

.tours__amount-day {
  display: flex;
  align-items: center;
  gap: 13px;

  @include vp-767 {
    order: 0;
  }
}

.tours__amount-day span {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: $color-default-white;
}

.tours__additional-info-container {
  display: flex;
  justify-content: space-between;
}

.tours__сomplexity ul {
  display: flex;
  gap: 1px;
  margin-top: 4px;

  @include vp-767 {
    gap: 3px;
    margin-top: 0;
  }
}

.tours__сomplexity span {
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;
  color: $color-default-white;
}

.tours__difficulty-icon {
  stroke: $color-default-white;
  fill: none;

  @include vp-767 {
    width: 12px;
    height: 12px;
  }
}

.tours__difficulty-level {
  fill: $color-default-white;
}

.tours__date span {
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;
  color: $color-default-white;
}

.tours__date p {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  color: $color-default-white;
  padding: 0;
  margin: 0;
  margin-top: 4px;

  @include vp-1199 {
    margin-right: 0;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }

  &::after {
    display: none;
  }
}

.tours__group span {
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;
  color: $color-default-white;
}

.tours__group p {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  color: $color-default-white;
  padding: 0;
  margin: 0;
  margin-top: 4px;

  @include vp-1199 {
    margin-right: 0;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }

  &::after {
    display: none;
  }
}

.tours__first-slide {
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.6) 61.9%, rgba(0, 0, 0, 0) 100%),
    image-set(url("../img/tours/tour-desktop/first-tour-desktop.webp") type("image/webp") 1dppx,
      url("../img/tours/tour-desktop/first-tour-desktop@2x.webp") type("image/webp") 2dppx,
      url("../img/tours/tour-desktop/first-tour-desktop.png") 1dppx,
      url("../img/tours/tour-desktop/first-tour-desktop@2x.png") 2dppx,
    );
  background-repeat: no-repeat;
  background-size: cover;

  @include vp-1199 {
    background-image:
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 61.9%, rgba(0, 0, 0, 0) 100%),
      image-set(url("../img/tours/tour-tablet/first-tour-tablet.webp") type("image/webp") 1dppx,
        url("../img/tours/tour-tablet/first-tour-tablet@2x.webp") type("image/webp") 2dppx,
        url("../img/tours/tour-tablet/first-tour-tablet.png") 1dppx,
        url("../img/tours/tour-tablet/first-tour-tablet@2x.png") 2dppx,
      );
  }

  @include vp-767 {
    background-image:
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 61.9%, rgba(0, 0, 0, 0) 100%),
      image-set(url("../img/tours/tour-mobile/first-tour-mobile.webp") type("image/webp") 1dppx,
        url("../img/tours/tour-mobile/first-tour-mobile@2x.webp") type("image/webp") 2dppx,
        url("../img/tours/tour-mobile/first-tour-mobile.png") 1dppx,
        url("../img/tours/tour-mobile/first-tour-mobile@2x.png") 2dppx,
      );
  }
}

.tours__second-slide {
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.6) 61.9%, rgba(0, 0, 0, 0) 100%),
    image-set(url("../img/tours/tour-desktop/second-tour-desktop.webp") type("image/webp") 1dppx,
      url("../img/tours/tour-desktop/second-tour-desktop@2x.webp") type("image/webp") 2dppx,
      url("../img/tours/tour-desktop/second-tour-desktop.png") 1dppx,
      url("../img/tours/tour-desktop/second-tour-desktop@2x.png") 2dppx,
    );
  background-repeat: no-repeat;
  background-size: cover;

  @include vp-1199 {
    background-image:
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 61.9%, rgba(0, 0, 0, 0) 100%),
      image-set(url("../img/tours/tour-tablet/second-tour-tablet.webp") type("image/webp") 1dppx,
        url("../img/tours/tour-tablet/second-tour-tablet@2x.webp") type("image/webp") 2dppx,
        url("../img/tours/tour-tablet/second-tour-tablet.png") 1dppx,
        url("../img/tours/tour-tablet/second-tour-tablet@2x.png") 2dppx,
    );
  }

  @include vp-767 {
    background-image:
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 61.9%, rgba(0, 0, 0, 0) 100%),
      image-set(url("../img/tours/tour-mobile/second-tour-mobile.webp") type("image/webp") 1dppx,
        url("../img/tours/tour-mobile/second-tour-mobile@2x.webp") type("image/webp") 2dppx,
        url("../img/tours/tour-mobile/second-tour-mobile.png") 1dppx,
        url("../img/tours/tour-mobile/second-tour-mobile@2x.png") 2dppx,
      );
  }
}

.tours__third-slide {
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.6) 61.9%, rgba(0, 0, 0, 0) 100%),
    image-set(url("../img/tours/tour-desktop/third-tour-desktop.webp") type("image/webp") 1dppx,
      url("../img/tours/tour-desktop/third-tour-desktop@2x.webp") type("image/webp") 2dppx,
      url("../img/tours/tour-desktop/third-tour-desktop.png") 1dppx,
      url("../img/tours/tour-desktop/third-tour-desktop@2x.png") 2dppx,
    );
  background-repeat: no-repeat;
  background-size: cover;

  @include vp-1199 {
    background-image:
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 61.9%, rgba(0, 0, 0, 0) 100%),
      image-set(url("../img/tours/tour-tablet/third-tour-tablet.webp") type("image/webp") 1dppx,
        url("../img/tours/tour-tablet/third-tour-tablet@2x.webp") type("image/webp") 2dppx,
        url("../img/tours/tour-tablet/third-tour-tablet.png") 1dppx,
        url("../img/tours/tour-tablet/third-tour-tablet@2x.png") 2dppx,
      );
  }

  @include vp-767 {
    background-image:
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 61.9%, rgba(0, 0, 0, 0) 100%),
      image-set(url("../img/tours/tour-mobile/third-tour-mobile.webp") type("image/webp") 1dppx,
      url("../img/tours/tour-mobile/third-tour-mobile@2x.webp") type("image/webp") 2dppx,
      url("../img/tours/tour-mobile/third-tour-mobile.png") 1dppx,
      url("../img/tours/tour-mobile/third-tour-mobile@2x.png") 2dppx,
    );
  }
}

.tours__buttons-container {
  position: absolute;
  top: 123px;
  right: 120px;

  @include vp-1199 {
    right: 45px;
    top: 83px;
  }

  @include vp-767 {
    right: 15px;
    top: 67px;
  }
}
